.container {
    max-width: 80em;
    margin: 1em auto;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.headcol-2 {
    display: grid;
    grid-template-columns: 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-items: center;
    margin: 1em 0;
}
// ipad//
@media screen and (min-width: 37.5em) {
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    .headcol-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        align-items: center;
        margin: 1em 0;
    }
}
// fartölvur//
@media screen and (min-width: 60em) {
    .container {
        max-width: 70em;
        margin: 0 auto;
    }
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
        justify-content: center;
    }
    .headcol-2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .col-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;
        align-items: center;
        margin: 1em 0;
    }
}