$bcolor: bisque;
$font: 'Merriweather', serif;
$fontcolor: #f77;

body {
    background-color: $bcolor;
    font-family: $font;
}
h1, h2, h3 {
    color: $fontcolor;
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}
img {
    max-width: 100%;
    height: auto;
}
.mybutton {
    background-color: #f77;
    font-size: 0.75em;
    text-decoration: none;
    padding: .2em .5em;
}
.card {
    background-color: white;
    border-radius: .4em;
    padding: 2em;
}
.stretch {
    display: grid;
    justify-self: stretch;
}
.button {
    background-color: #f77;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: .5em;
    padding: .2em .5em;
    color: black;
    display: block;
    margin: .3em;
    width: 5em;
    text-align: center;
}
.button:hover {
    background-color: #037496;
}
.HeimasidaLinkur {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    border-radius: .5em;
    background-color: #f77;
    margin: auto;
    padding: .2em .2em;
}
.HeimasidaLinkur:hover {
    background-color: #037496;
}
.col-3-1 {
    display: grid;
    grid-template-columns: 3.25fr 1fr;
    grid-gap: 2em;
    grid-template-areas:
        "splashlogo auglysing"
        "kynning auglysing";
}
.col-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.topmenu {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    list-style-type: none;
}
.headcol-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.topnav {
    padding-top: 1em;
} 
//ná í stílsíðuna
@import "layout";
