<header class="headcol-2">
    <div>
        <p></p>
    </div>
    <nav class="topnav">
        <ul class="topmenu">
            <li>
                <a href="bread.html">Bread</a>
            </li>
            <li>
                <a href="#">Starters</a>
            </li>
            <li>
                <a href="#">Main courses</a>
            </li>
            <li>
                <a href="#">Desserts</a>
            </li>
            <li>
                <a href="#">Drinks</a>
            </li>
        </ul>
    </nav>
</header>